body{
    margin: 0px;
    padding: 0px;
    background: var(--primary_1);
}

.App{
    margin: 0px;
    padding: 0px;
    width:100vw;
    height: 100vh;
    display: grid;
}

// .accueilMenu{
//     background: white;
//     border : 0.1px solid #000;
//     text-align: center;
// }

// .accueilMenueTitre{
//     word-wrap:break-word;
//     padding: 0.75vw;
//     width : 0.5vw;
//     text-align: center;
//     padding-top: 0px;
//     margin-top: 1vh;
// }
